/*A valid @import reference is included to match the font(s) selected in the site plan documentation for Typography.*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap|Poppins&display=swap');

/*:root pseudo-class selector has colors from the site plan documentation defined as variables*/
:root {
    --primary-color: #254441;
    --secondary-color: #534F54; 
    --accent1-color: #49ba7c;
    --accent2-color: #FEEFE5;   

    --heading-font: 'Merriweather', serif;
    --paragraph-font: 'Poppins', sans-serif;

    --nav-background-color: #254441;
    --nav-link-color: #FEEFE5;
    --nav-hover-link-color: #534F54;
    --nav-hover-background-color: #49ba7c;
}
header {
    display: flex;
    align-items: center;
}
.header-nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    width: 100%;
}
.header-nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none; 
    padding: 0 50px;
}
.header-nav a:link, .header-nav a:visited {
    color: var(--nav-link-color);
}

.header-nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
body {
    font-family: var(--paragraph-font);
    padding: 20px;
    color: #534F54;
}
a {
    text-decoration: none;
}
p {
    padding: 25px;
}
section p {
    padding: 0;
}
footer {
    padding: 20px;
    color: var(--primary-color);
    background-color: var(--accent1-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
footer p {
    text-align: center;
    margin: 0;
    flex-grow: 1;
}
div .background-image {    
    position: relative;
    display: block;
    padding-top: 20px;
    width: 100%;
    height: auto;
}
/*The hero div is positioned relative.*/
div.hero {
    position: relative;
}
/*The hero div's h1 and article elements are positioned absolutely so that they appear on top of the hero image.*/
div h1 {
    position: absolute;
    top: 25px;
    background-color: rgba(37, 68, 65, 0.9);
    color: var(--accent1-color);
    padding: 20px;
    text-align: center;
}
/*The image associated with the hero paragraph is floated to the right.*/
div article img {
    float: right;
    width: 400px; 
    padding: 18px;
    z-index: 2;
}
div article p {
    position: absolute;
    top: 19%;
    left: 2.5%;
    max-width: 90%;
    background-color:rgba(254, 239, 229, 0.7);
    color: var(--nav-background-color);
}
section img {
    width: 75%;
}
.sociallinks a{
    text-decoration: none;
}
#hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#column1 {
    display: inline-block;    
}

#column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
div .contact-us {
    position: relative;
}
#contact_header {
    z-index: 2;
    position: absolute;
    top: 250px;
    left: 800px;
    font-size: 350%;
    color: white;
}
#background-image {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
}
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    /* border-radius: 0.5rem; */
    background-color: #FEEFE5;
    display: grid;
    padding: 15px;
}

legend {
    font-weight: 200px;
}

.contact_items {
display: flex;
}

input {
    padding: 0.5rem;
    font-size: 1.1rem;

}

.secondary_container {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

#contacts_container {
    display: flex;
    flex-direction: column;
    gap: 0px 5px;
}


#message_container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.form_section_name {
display: flex;
flex-direction: column;
}

#name_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

main {
    padding: 25px;
}

#employees_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

#radio_container {
    display: flex;
    flex-direction: column;
}

.radio_format {
    margin: 0.4rem;
}

.radio_div {
    display: flex;
    flex-direction: row;
    padding: 5px;
    font-size: large;
}
button {
    margin: 1rem;
    background-color: #254441;
    color: #FEEFE5;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
#newsletter-checkbox {
    margin: 10px;
}

#checkbox_container {
    font-size: large;
}

.contact_items p {
    font-size: large;
}