@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap|Poppins&display=swap');

:root {
    --primary-color: #254441;
    --secondary-color: #534F54; 
    --accent1-color: #49ba7c;
    --accent2-color: #FEEFE5;   

    --heading-font: 'Merriweather', serif;
    --paragraph-font: 'Poppins', sans-serif;

    --nav-background-color: #254441;
    --nav-link-color: #FEEFE5;
    --nav-hover-link-color: #534F54;
    --nav-hover-background-color: #49ba7c;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    color: #534F54;
}
header nav {
    padding: 20px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    text-align: center;
}
a {
    text-decoration: none;
}
p {
    padding: 25px;
}
footer {
    padding: 20px;
    color: var(--primary-color);
    background-color: var(--accent1-color);
    text-align: center;
}
.background-image {    
    position: relative;
    display: block;
    padding-top: 20px;
    width: 100%;
    height: auto;
}
div h1 {
    position: absolute;
    top: 38%;
    background-color: rgba(37, 68, 65, 0.9);
    color: var(--accent1-color);
    padding: 20px;
    text-align: center;
}
.article img {
    position: absolute;
    top: 46%;
    left: 34%;
    width: 350px;
    z-index: 2;
}
.article p {
    position: absolute;
    top: 50%;
    background-color:rgba(254, 239, 229, 0.7);
    color: var(--nav-background-color);
    max-width: 30%;
    z-index: 1;
}
section img {
    width: 75%;
}
.header-nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

.header-nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none; 
    padding: 1rem;
}

.header-nav a:link, .header-nav a:visited {
    color: var(--nav-link-color);
}

.header-nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}