@import url('https://fonts.googleapis.com/css2?family=Merriweather|Poppins&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #254441;
    --secondary-color: #534F54; 
    --accent1-color: #49ba7c;
    --accent2-color: #FEEFE5;   

    --heading-font: 'Merriweather', serif;
    --paragraph-font: 'Poppins', sans-serif;

    --nav-background-color: #254441;
    --nav-link-color: #FEEFE5;
    --nav-hover-link-color: #534F54;
    --nav-hover-background-color: #49ba7c;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header div {
    color: var(--accent2-color); 
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    text-align: center;
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none; 
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer {
    padding: 20px;
    color: var(--primary-color);
    background-color: var(--accent1-color);
    text-align: center;
}
